.DS_Store

# dotnet core
bin/
obj/
project.lock.json

api/wwwroot/**
!api/wwwroot/scratch.html

# node
node_modules/
typings/
npm-debug.log

# client-react
/client-react/components/*.js
/client-react.test/build/

*.js.map

# ops
ops/hosts
ops/*.retry
