.DS_Store

# dotnet core
bin/
obj/
project.lock.json

api/wwwroot/**
!api/wwwroot/scratch.html
!api/wwwroot/favicon.ico

# node
node_modules/
typings/
npm-debug.log

# client-react
client-react/components/*.js
client-react.test/build/
!/client-react.test/build/client-react/styles

*.js.map

# ops
ops/hosts
ops/*.retry
