all:
  vars:
    # The following vars apply globally; additional config is in group_vars/all.
    app_name: aspnetCoreReactTemplate
production:
  hosts:
    0.0.0.0                                    # The IP address or hostname of the production web server
  vars:
    deploy_user: jdoe                          # The name of the remote user account for provisioning and deployment
    gh_pubkey_user: johndoe1981                # The GitHub username used to pull the public key for deploy_user authorized_user access
    use_ssl: true                              # If true, SSL cert will be obtained from Let's Encrypt and Nginx provisioned for SSL
    letsencrypt_use_live_ca: true              # If true, will use the Live Let's Encrypt ACME servers; otherwise will use staging server
    database_password: super!secret            # PostgreSQL database will be configured with this password
    postgresql_backup_to_s3: true              # If true, PostgresSQL backups will be moved to S3 storage
    s3_key: ABCDEFGHIJKLMNOP                   # S3 Access Key used for uploading PostgreSQL backups
    s3_secret: ABCDEFGHIJKLMNOP                # S3 Access Secret used for uploading PostgreSQL backups
    jwt_key: 6872f99e-cb09                     # The key to use for generating JWTs
    smtp_config: user:pass@smtp.domain.com:587 # The SMTP configuration for sending outgoing mail
    email_from_address: demo@gmail.com         # The email address for outgoing email
