# Global variables
[all:vars]
app_name=aspnetCoreReactTemplate                                          # Name of the application
source_directory=../../../../appName/bin/Release/netcoreapp1.1/publish/   # The local deploy build asset source location (source files for deploy)
entry_dll_file_name=AppName.dll                                           # The name of the .NET Core DLL to run

# Production variables
[production_web]
0.0.0.0                                   # The IP address or hostname of the production web server

[production:vars]
deploy_user=jdoe                          # The name of the remote user account for provisioning and deployment
gh_pubkey_user=johndoe1981                # The GitHub username used to pull the public key for deploy_user authorized_user access
use_ssl=true                              # If true, SSL cert will be obtained from Let's Encrypt and Nginx provisioned for SSL
letsencrypt_use_live_ca=true              # If true, will use the Live Let's Encrypt ACME servers; otherwise will use staging server
database_password=super!secret            # PostgreSQL database will be configured with this password
postgresql_backup_to_s3=true              # If true, PostgresSQL backups will be moved to S3 storage
s3_key=ABCDEFGHIJKLMNOP                   # S3 Access Key used for uploading PostgreSQL backups
s3_secret=ABCDEFGHIJKLMNOP                # S3 Access Secret used for uploading PostgreSQL backups
smtp_config=user:pass@smtp.domain.com:587 # The SMTP configuration for sending outgoing mail
email_from_address=demo@gmail.com         # The email address for outgoing email

[production:children]
production_web

[all:children]
production
